<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <form *ngIf="dadosTotais">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Base de Cálculo ICMS</label>
              <input
                class="form-control"
                [value]="dadosTotais.vbc | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do ICMS</label>
              <input
                class="form-control"
                [value]="dadosTotais.vicms | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do ICMS Desonerado</label>
              <input
                class="form-control"
                [value]="dadosTotais.vicmsdeson | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP</label>
              <input
                class="form-control"
                [value]="dadosTotais.vfcp | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS FCP</label>
              <input
                class="form-control"
                [value]="dadosTotais.vfcp | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS Interestadual UF Destino</label>
              <input
                class="form-control"
                [value]="dadosTotais.vicmsufdest | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS Interestadual UF Rem.</label>
              <input
                class="form-control"
                [value]="dadosTotais.vicmsufremet | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Base de Cálculo ICMS ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.vbcst | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor ICMS Substituição</label>
              <input
                class="form-control"
                [value]="dadosTotais.vst | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP retido por ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.vfcpstret | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP retido anteriormente por ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.pfcpstret | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label> Valor Total dos Produtos </label>
              <input
                class="form-control"
                [value]="dadosTotais.vprod | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do Frete</label>
              <input
                class="form-control"
                [value]="dadosTotais.vfrete | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do Seguro</label>
              <input
                class="form-control"
                [value]="dadosTotais.vseg | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total dos Descontos</label>
              <input
                class="form-control"
                [value]="dadosTotais.vdesc | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do II</label>
              <input
                class="form-control"
                [value]="dadosTotais.vii | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do IPI</label>
              <input
                class="form-control"
                [value]="dadosTotais.vipi | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do IPI Devolvido</label>
              <input
                class="form-control"
                [value]="dadosTotais.vipidevol | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do PIS</label>
              <input
                class="form-control"
                [value]="dadosTotais.vpis | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor da COFINS</label>
              <input
                class="form-control"
                [value]="dadosTotais.vcofins | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Outras Despesas Acessórias</label>
              <input
                class="form-control"
                [value]="dadosTotais.voutro | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total da NFe</label>
              <input
                class="form-control"
                [value]="dadosTotais.vnf | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Aproximado dos Tributos</label>
              <input
                class="form-control"
                [value]="dadosTotais.vtotTrib | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </form>
    </div>
  </div>
</div>
