<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <form *ngIf="dadosTotais">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Base de Cálculo ICMS</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorBaseCalculo | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do ICMS</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIcms | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do ICMS Desonerado</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIcmsDesonerado | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorFcp | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS FCP</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorFcp | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS Interestadual UF Destino</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIcmsUfDestinatario | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total ICMS Interestadual UF Rem.</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIcmsUfRemetente | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Base de Cálculo ICMS ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorBaseCalculoST | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor ICMS Substituição</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorST | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP retido por ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorFcpSTRetido | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do FCP retido anteriormente por ST</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorFcpSTRetido | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label> Valor Total dos Produtos </label>
              <input
                class="form-control"
                [value]="dadosTotais.valorProdutos | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do Frete</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorFrete | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do Seguro</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorSeguro | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total dos Descontos</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorDesconto | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do II</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorImpostoImportacao | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do IPI</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIpi | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total do IPI Devolvido</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorIpiDevolucao | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor do PIS</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorPis | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor da COFINS</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorCofins | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Outras Despesas Acessórias</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorOutros | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Total da NFe</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorNotaFiscal | number: '1.2-2'"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Valor Aproximado dos Tributos</label>
              <input
                class="form-control"
                [value]="dadosTotais.valorTotalTributos | number: '1.2-2'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </form>
    </div>
  </div>
</div>
