<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Razão Social</label>
              <input class="form-control" [value]="dadosEmit.razaoSocial" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Nome Fantasia</label>
              <input class="form-control" [value]="dadosEmit.nomeFantasia" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>CNPJ</label>
              <input
                class="form-control"
                [value]="
                  dadosEmit.cnpj
                    | pipeFormacaoColuna: { tipo: 'PIPE', pipe: 'CNPJ' }
                "
              />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>IE</label>
              <input class="form-control" [value]="dadosEmit.ie" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Endereço</label>
              <input class="form-control" [value]="dadosEmit.logradouro" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Bairro</label>
              <input class="form-control" [value]="dadosEmit.bairro" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>CEP</label>
              <input
                class="form-control"
                [value]="dadosEmit.cep | pipeFormacaoColuna: { tipo: 'CEP' }"
              />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Municipio</label>
              <input class="form-control" [value]="dadosEmit.municipio" />
            </div>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <label>UF</label>
              <input class="form-control" [value]="dadosEmit.uf" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Pais</label>
              <input
                class="form-control"
                value="{{ dadosEmit.cpais }} - {{ dadosEmit.xpais }}"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Telefone</label>
              <input
                class="form-control"
                [value]="
                  dadosEmit.telefone | pipeFormacaoColuna: { tipo: 'TELEFONE' }
                "
              />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Regime Tributário</label>
              <input class="form-control" [value]="dadosEmit.crt" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </form>
    </div>
  </div>
</div>
